//
// Created by Timothy Findlay on 2019-07-22.
//

#ifndef HTTPSECURE_SECRETS_H
#define HTTPSECURE_SECRETS_H

//-----------------------
// WiFi Configuration

const char* WIFI_SSID = "mySSID";
const char* WIFI_PASS = "myWepKey";

//-----------------------
// TP Link Cloud API Configuration

const char* CLOUD_URL = "https://wap.tplinkcloud.com";
const char* CLOUD_UUID = "myUUID";
const char* CLOUD_USERNAME = "myUsername";
const char* CLOUD_PASSWORD = "myPassword";

const char *UMBRELLA_SWITCH = "10.10.10.10";

#endif //HTTPSECURE_SECRETS_H
