//
// Created by Timothy Findlay on 2019-07-22.
//

#ifndef HTTPSECURE_SECRETS_H
#define HTTPSECURE_SECRETS_H

//-----------------------
// WiFi Configuration

const char* WIFI_SSID = "mySSID";
const char* WIFI_PASS = "myWepKey";

//-----------------------
// TP Link Smart Switch

const bool SMART_SWITCH_ENABLED = true;
const char *UMBRELLA_SWITCH = "10.10.10.10";

//-----------------------
// Remote logging via HTTP

const bool LOGZ_IO_ENABLED = true;
const char *LOG_SERVER = "my.listener.logz.io";
const char *LOG_URI = "?token=mytoken";
int         LOG_PORT = 1234;

#endif //HTTPSECURE_SECRETS_H
